[redis_nodes]
# Replace with your VM's public IPs from terraform output
redis-1 ansible_host=IP_1 ansible_user=ubuntu ansible_ssh_private_key_file=~/.ssh/id_ed25519
redis-2 ansible_host=IP_2 ansible_user=ubuntu ansible_ssh_private_key_file=~/.ssh/id_ed25519
redis-3 ansible_host=IP_3 ansible_user=ubuntu ansible_ssh_private_key_file=~/.ssh/id_ed25519
